
* {
    
    margin: 0;
    font-family: arial;
    box-sizing:border-box;

}

.nav-bar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-box1{
    height: 50px;
    width: 100px;
}
.nav-logo{
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width : 100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 12px;
    margin-left:15px ;
}
.add-second{
    color: #ffffff;
    font-size: 14px;
    font-weight: bolder;
    margin-left:3px;

}
.add-icon{
    display: flex;
    align-items: center;
}

/* box3 */

.nav-box3{
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-box3:hover{
        border:2px solid orange;
    }
.search-select{
    background-color: white;
    width: 50px;
text-align: center;
border t0p-left-radius:4px ;
border-bottom-left-radius:4px;
border:none;
}
.search-input{
    width: 100%;
    font-size: 15px;
    border: none;
}
.search-icon{
width: 45px;
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
background-color: #febd68;
border t0p-left-radius:4px ;
border-bottom-left-radius:4px;
color:0f1111;
}
span{
    font-size: 8px;
}
.nav-account{
    font-size: 10px;
    font-weight: 700;
}
.nav-box6 i{
    font-size: 30px;
    font-weight: 700;
}

/* panel box */

.panel-box{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
}
.panel-box2 p{
    display: inline;
    margin-left: 15px;
}
    .panel-box2{
        width: 70%;
    }

    /* herosection*/

    .hero-section {
        background-image: url("https://m.media-amazon.com/images/I/61lwJy4B8PL._SX3000_.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
    .shop-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #E2E7E6;
    }
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem ;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
.sign-in{
    border: 2px solid transparent;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 5px;
    text-align: center;
}
.button{
    border: 2px solid rgb(241, 147, 6);
    background-color:yellow ;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 12px;
}
.top{
    border: 4px solid  rgba(25, 50, 133, 0.658);
    background-color: rgba(25, 50, 133, 0.658);
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.top:hover{
    border: 4px solid  rgba(25, 50, 133, 0.658);

}
.top a{
    color: white;
    text-decoration: none;  
    font-weight: bolder; 
}
@media (max-width: 780px) {
.hero-section {
        background-image: url("https://m.media-amazon.com/images/I/61lwJy4B8PL._SX3000_.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 500px; ;
        height: 400px;   
    }
}





@media (max-width: 780px)  {

*{
    width: 100%;
}
.shop-section{
        display: block;
}
.box{
    width: 100%;
    height: auto;
}

.box-img{
        width: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        height:400px;
        box-sizing: border-box;
        padding: 1%;   
        margin: 10% 80% 0% 2% ;
    }
}

